AdditionApp/calculator_msService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/calculator_ms" xmlns="http://tempuri.org/calculator_ms" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/calculator_ms" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/calculator_ms" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                                                  <xsd:element name="intA" type="xsd:int"/>
            <xsd:element name="intB" type="xsd:int"/>
            <xsd:element name="addC" type="xsd:int"/>
            <xsd:element name="fcode" type="xsd:int"/>
            <xsd:element name="fmessage" type="xsd:string"/>
            <xsd:complexType name="ReqAdd">
        <xsd:sequence>
          <xsd:element ref="mrm:intA"/>
          <xsd:element ref="mrm:intB"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="ResAdd">
        <xsd:sequence>
          <xsd:element ref="mrm:addC"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="ErrorMessage">
        <xsd:sequence>
          <xsd:element ref="mrm:fcode"/>
          <xsd:element ref="mrm:fmessage"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element ibmSchExtn:docRoot="true" name="ReqAdd" type="mrm:ReqAdd"/>
            <xsd:element ibmSchExtn:docRoot="true" name="ResAdd" type="mrm:ResAdd"/>
            <xsd:element ibmSchExtn:docRoot="true" name="ErrorMessage" type="mrm:ErrorMessage"/>
        </xsd:schema>